.rpg {
    width: 500px;
    border: 5px solid black;
}
.background {
    position: relative;
    width: 100%;
    height: 128px;
}
.sky {
    position: absolute;
    background-image: url('../imgs/sky.png');
    background-repeat: repeat-x;
    height: 100%;
    width: 500px;
    overflow: hidden;
    background-size: 52%;
    image-rendering: pixelated;
    z-index: -1;
}
.grass {
    background-image: url('../imgs/grass.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 23px;
    image-rendering: pixelated;
}
#player {
    left: 0;
}
#monster {
    right: 0;
}

.animation { 
    position: absolute;
    background-repeat: no-repeat; 
    height: 32px; 
    width: 32px;
    transform: scale(3);
    margin: 64px;
    image-rendering: pixelated;
    z-index: 10;
}