.rpg {
    width: 500px;
    border: 5px groove #1DE22E;
    margin-bottom: 30px;
}
.background {
    position: relative;
    width: 100%;
    height: 128px;
}
.sky {
    position: absolute;
    background-image: url('../imgs/sky.png');
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: 52%;
    image-rendering: pixelated;
    animation: skypass 10s infinite linear;
}
.grass {
    background-image: url('../imgs/grass.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 23px;
    image-rendering: pixelated;
}
#player {
    left: 32px;
    bottom: 32px;
}
#monster {
    right: 32px;
    bottom: 32px;
}

.animation { 
    position: absolute;
    background-repeat: no-repeat; 
    height: 32px; 
    width: 32px;
    transform: scale(3);
    image-rendering: pixelated;
    z-index: 10;
}
#player.walk {
    animation: playerWalking 2s ease-out forwards;
}
#monster.walk {
    animation: monsterWalking 2s ease-out forwards;
}
#player.attack {
    left: 380px;
}
#monster.attack {
    right: 380px;
}
#player.back {
    transform: scale(3) rotateY(180deg);
    animation: playerWalking 2s ease-out reverse;
}
#monster.back {
    transform: scale(3) rotateY(180deg);
    animation: monsterWalking 2s ease-out reverse;
}

@keyframes skypass {
    from {background-position: 0;}
    to   {background-position: 108%;}
}

@keyframes playerWalking {
    from {left: 32px;}
    to   {left: 380px;}
}

@keyframes monsterWalking {
    from {right: 32px;}
    to   {right: 380px;}    
}