.board-game {
    position: relative;
    overflow: hidden;
}

.board {
    width: 510px;
    height: 510px;
    text-align: center;
    background-color: var(--board-background);
    border-radius: 5px;
    position: relative;
    border-spacing: 2px;
    border-collapse: separate;
}

.tile {
    width: 55.95px;
    height: 55.95px;
    color: white;
    background-color: var(--tile-background);
    border: 2px inset white;
    border-radius: 5px;
    animation: creation 0.5s;
}

.tile.destroyed {
    animation: destruction 0.5s,
               delay-animation 0.5s;
}

.tile:hover {
    background-color: var(--tile-highlight);
    cursor: pointer;
}

.selected-gear {
    position: absolute;
    z-index: 2;
}

.gear {
    animation: fall 0.5s;
    padding-top: 4px;
}

.block-modal {
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 510px;
    height: 510px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    font-weight: bolder;
    font-size: 60px;
    text-align-last: center;
    padding-top: 200px;
    text-shadow: 2px 2px white;
}



@keyframes fall {
    from {top: -100%;};
    to   {top: 0};
}

@keyframes creation {
    from {background-color: var(--tile-destroied);}
    to   {background-color: var(--tile-background);}
}

@keyframes destruction {
    from {background-color: var(--tile-destroied);}
    to   {background-color: var(--tile-background);}
}

@keyframes delay-animation {
    from {background-color: var(--tile-background);}
    to   {background-color: var(--tile-background);}
  }