:root {
    --board-background: #474747;
    --tile-background: #c8c8c8;
    --tile-highlight: #949494;
    --tile-destroied: #474747;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.board-game {
    position: relative;
}

.board {
    width: 510px;
    height: 510px;
    text-align: center;
    background-color: var(--board-background);
    border-radius: 5px;
    position: relative;
    border-spacing: 2px;
    border-collapse: separate;
}

.tile {
    width: 55.95px;
    height: 55.95px;
    color: white;
    background-color: var(--tile-background);
    border: 2px inset white;
    border-radius: 5px;
    animation: creation 0.5s;
}

.tile.destroyed {
    animation: destruction 0.5s,
               delay-animation 0.5s;
}

.tile:hover {
    background-color: var(--tile-highlight);
    cursor: pointer;
}

.selected-gear {
    position: absolute;
    z-index: 2;
}

.gear {
    animation: fall 0.5s;
    padding-top: 4px;
}

.block-modal {
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 510px;
    height: 510px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}



@keyframes fall {
    from {top: -100%;};
    to   {top: 0};
}

@keyframes creation {
    from {background-color: var(--tile-destroied);}
    to   {background-color: var(--tile-background);}
}

@keyframes destruction {
    from {background-color: var(--tile-destroied);}
    to   {background-color: var(--tile-background);}
}

@keyframes delay-animation {
    from {background-color: var(--tile-background);}
    to   {background-color: var(--tile-background);}
  }