:root {
    --board-background: #474747;
    --tile-background: #c8c8c8;
    --tile-highlight: #949494;
    --tile-destroied: #474747;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.board {
    text-align: center;
    background-color: var(--board-background);
    border-radius: 5px;
    position: relative;
}

.tile {
    width: 50px;
    height: 50px;
    color: white;
    background-color: var(--tile-background);
    border: 2px inset white;
    border-radius: 5px;
    animation: creation 0.5s;
}

.tile.destroyed {
    animation: destruction 0.5s,
               delay-animation 0.5s;
}

.tile:hover {
    background-color: var(--tile-highlight);
    cursor: pointer;
}

.selected-gear {
    position: absolute;
    z-index: 10;
}

.gear {
    position: relative;
    animation: fall 0.5s;
}

@keyframes fall {
    from {top: -100%;};
    to {top: 0};
}

@keyframes creation {
    from {background-color: var(--tile-destroied);}
    to {background-color: var(--tile-background);}
}

@keyframes destruction {
    from {background-color: var(--tile-destroied);}
    to {background-color: var(--tile-background);}
}

@keyframes delay-animation {
    0% {background-color: var(--tile-background);}
    100% {background-color: var(--tile-background);}
  }